/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--text-color, #000000);
  font-family: var(--main-font, "Inter", sans-serif);
  font-variation-settings: "wght" var(--page-font-weight, 400);
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--page-color, #ffffff);
  background-image: var(--page-image, none);
}

.header {
  display: grid;
  justify-items: center;
  justify-content: center;
  font-family: var(--accent-font, "PressStart2P", sans-serif);
  background-color: var(--page-color, #ffffff);
  border: 2px solid var(--text-color, #000000);
  max-inline-size: 696px;
  margin-block: 100px;
  margin-inline: auto;
}

.header-link {
  text-decoration: none;
  font-size: 49px;
  font-weight: 400;
  padding-block-start: 120px;
  padding-block-end: 20px;
}

.header__title {
  font-size: 14px;
  text-transform: uppercase;
}

.header__theme-menu {
  margin-block: 24px;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__list {
  display: grid;
  gap: 10px;
  padding-inline-start: 21px;
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  transition: opacity 0.3s ease;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:not(:disabled)::after {
  content: "";
  display: block;
  background-color: currentColor;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  block-size: 2px;
  inline-size: 100%;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  opacity: 0.6;
  position: absolute;
  animation: arrow 0.5s infinite ease-in-out alternate;
  inset-inline-start: -20px;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.content {
  display: grid;
  justify-items: center;
  gap: 51px;
  padding-block-end: 105px;
}

.section {
  display: grid;
  font-family: var(--main-font, "Inter", sans-serif);
}

.card {
  border: 2px solid var(--text-color, #000000);
  background-color: var(--page-color, #ffffff);
  max-inline-size: 696px;
}

.card__title {
  font-size: 18px;
  font-variation-settings: "wght" var(--heading-font-weight, 700);
  line-height: 21.78px;
  padding: 4px 10px;
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

.card__container-image {
  overflow: hidden;
  position: relative;
}

.card__watermark {
  position: absolute;
  inset-inline-end: 13px;
  inset-block-start: 24px;
  font-family: var(--accent-font, "PressStart2P", sans-serif);
  font-size: 14px;
  text-shadow: -1px 0 var(--page-color, #ffffff),
    0 1px var(--page-color, #ffffff), 1px 0 var(--page-color, #ffffff),
    0 -1px var(--page-color, #ffffff);
  opacity: 0.5;
  background-blend-mode: hard-light;
}

.card__container-text {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 21px;
  border-block-start: 2px solid var(--text-color, #000000);
}

.card__text {
  padding: 27px 25px 0 25px;
  font-size: 18px;
}

.card__container-like {
  display: flex;
  justify-content: end;
  align-items: stretch;
  padding: 25px 25px 23px 25px;
}

.card__icon-button {
  display: flex;
  padding: 0;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  background-color: inherit;
  cursor: pointer;
  appearance: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color, #000000);
}

.card__like-button {
  width: 130px;
  display: flex;
  justify-content: center;
}

.button {
  position: relative;
  border: 2px solid var(--text-color, #000000);
  padding: 10px 35px;
  font-size: 14px;
  font-family: var(--accent-font, "PressStart2P", sans-serif);
  font-size: 14px;
  background-color: var(--page-color, #ffffff);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--text-color, #000000);
}

.button::before {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--text-color, #000000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inset: 0;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text,
.button__icon {
  color: var(--button-text-color, #ffffff);
  mix-blend-mode: difference;
}

.button__icon {
  block-size: 21px;
  inline-size: 21px;
}

.modal {
  border: 2px solid var(--text-color, #000000);
  text-transform: uppercase;
  padding: 25px 30px;
  line-height: 1.5;
  color: var(--text-color, #000000);
  font-family: var(--accent-font, "PressStart2P", sans-serif);
  background-color: var(--page-color, #ffffff);
  max-inline-size: 355px;
}

.modal[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
}

.modal::backdrop {
  opacity: 0.75;
  background-color: var(--text-color, #000000);
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.modal__icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.button-modal {
  inline-size: 100%;
}

.button-save {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 20px;
}

@media (width <= 375px) {
  .modal {
    max-inline-size: 340px;
    padding: 28px 34px 28px 40px;
  }

  .button-save {
    flex-direction: column;
  }

  .button__icon {
    block-size: 28px;
    inline-size: 28px;
  }
}

@supports (
  (-webkit-text-stroke: 1px var(--page-color, #ffffff)) or
    (text-stroke: 1px var(--page-color, #ffffff))
) {
  .card__watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--page-color, #ffffff);
    text-stroke: 1px var(--page-color, #ffffff);
  }
}

.filter-invert {
  filter: invert(100%);
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-hue-rotate {
  filter: hue-rotate(210deg);
}

.filter-saturate {
  filter: saturate(250%);
}

.filter-blur {
  filter: blur(10px);
}

.filter-grayscale {
  filter: grayscale(70%);
}

.filter-multiple {
  filter: contrast(50%) hue-rotate(35deg) saturate(130%);
}
